@using Stock.Core.Entidades;
@model List<Venta>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}     

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Producto" asp-action="Index">GestionStock.WebMVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Compra" asp-action="Index">Compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Venta" asp-action="Index">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Logout">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="dashboard-background ">

    <div class="card">

        <div class="card-header">
            
        </div>
        <div class="card-body">
            <a class="btn btn-primary btn-lg" style="width: 200px;" asp-action="Create">Registrar Venta</a>
            <h5>Listado de Ventas</h5>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Usuario</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var venta in Model)
                    {
                        <tr>
                            <td>@venta.Fecha.ToShortDateString()</td>
                            <td>@venta.Producto?.Nombre</td>
                            <td>@venta.Cantidad</td>
                            <td>@venta.Usuario?.Nombre</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</div>
