@using Stock.Core.Entidades;
@model ProductoViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var backgroundImage = "~/images/Gerente.jpg";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Producto" asp-action="Index">GestionStock.WebMVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Compra" asp-action="Index">Compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Venta" asp-action="Index">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Logout">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="login-container">
    <div class="login-info">
        <h1>Editar Producto</h1>

        <form asp-action="EditarProducto" asp-controller="Producto">
            <div class="contenedor">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" asp-for="Habilitado" />
                    <label class="form-check-label">Activo</label>
                </div>
                <div class="form-group">
                    <label>Categoria</label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="Model.Categorias"></select>
                </div>
                <div class="form-group">
                    <button type="submit" class= "btn btn-primary btn-lg">Guardar</button>
                    <a asp-controller="Producto" asp-action="Index" class="btn btn-secondary btn-lg">Volver</a>
                </div>
            </div>

        </form>

    </div>
    <div class="login-image">
        <img src="@Url.Content(backgroundImage)" alt="Login Image" width="400" />
    </div>

</div>